body {
    background-color: rgba(227, 231, 232, 0.648);
}

tr, th, td {
    border: 1px solid black;
    padding: 10px;
}

.dt-search {
    text-align: right;
    padding: 10px;
}

.dt-buttons{
    text-align: center;
}

.dt-info {
    padding-top: 12px;
    text-align: center;
}

.dt-paging {
    padding-top: 6px;
    text-align: center;
}

.form {
    padding: 30px;
}

/* estilos navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center; /* Centra el texto horizontalmente */
}
nav ul li {
    display: inline-block; /* Muestra los elementos de lista en línea */
}
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #555;
}

